/*
    Font Guide

    FrankRuhlLibre:
    FrankRuhlLibre-Black
    FrankRuhlLibre-Bold
    FrankRuhlLibre-Medium
    FrankRuhlLibre-Regular
    FrankRuhlLibre-Light
*/


.bg-color-yellow{
    background: #FED61F;
}
.bg-black{
    background: #080808;
}
.color-balck-h{
    color: #050505;
}
.color-yellow{
    color: #FED61F;
}
.color-head-balck{
    color: #080808;
}
.color-gray{
    color: #707070;
}
.color-blue{
    color: #224075;
}

.header-text-1{
    font-family: 'Roboto-cn-r';
    font-size: 55px;
    color: #1B1448;
}
.header-text-2{
    font-family: 'Roboto-cn-l';
    font-size: 33px;
    color: #050505;
}

.regular-text-1{
    font-size: 18px;
    color: #fff;
    font-family: 'Roboto-r';
}

.post-img{
    height: 230px;
}

.post-img img{
    width: 100%;
    height: 100%;
}

.max-w-350{
    max-width: 350px;
}

.max-w-450{
    max-width: 450px;
}
.max-w-1020{
    max-width: 1020px;
    margin: 0 auto;
    display: block;
}






.logo img {
    margin: 5px 0;
    width: 174px;
}
.logo{
    padding: 0;
    height: 100%;
}
.logo > a {
    height: 100%;
    display: flex;
    align-items: center;
}
@media (max-width: 768px) {
    .find-tours.p-5 {
        padding-left: 0 !important;
        padding-right: 0 !important;
    }
    .nice-select {
        display: flex;
        align-items: center;
    }
    .select .nice-select:after {
        top: 55%;
    }
}
.find-tours h2{
    font-family: 'Roboto-cn-r';
    font-size: 50px;
}

.find-tours .nice-select{
    background: #FED61F!important;
    border-bottom: 2px solid #030303;
}

.find-tours .box-select{
    background: none;
}

.nice-select .current{
    font-family: 'Roboto-r';
    font-size: 20px;
    color: #050505;
}

.select .nice-select{
    line-height: 90px;
    padding-left: 0px;
    width: 95%;
}

.select .nice-select:after{
    width: 7px;
    height: 7px;
    top: 83%;
    border-bottom: 2px solid #050505;
    border-right: 2px solid #050505;
}

.select button{
    text-transform: uppercase;
}

.place-card{
    min-height: 300px;
    background: #EEEDED;
}
.page-template-page-destinations .place-card {
    background-color: transparent;
}
.place-card img{
    height: 250px!important;
    width: 100%;
}
.img-text-holder {
    position: relative;
    width: 100%;
    background-position: center;
    background-size: cover;
}
.page-template-page-destinations .img-text-holder {
    height: 293px;
}
.img-text{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    /*background: rgba(0,0,0,.4);*/
    width: 100%;
    height: 100%;
}
.img-text p{
    color: #fff;
    font-size: 18px;
    text-align: center;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    position: absolute;

}
.all-places{
    margin-top: 80px;
}
.place-detail{
    margin: 0;
    margin-top: 13px;
    padding: 0;
}
.place-detail li{
    float: left;
    list-style: none;
    margin-left: 20px;
}
.place-detail li p{
    color: #2E2F8F!important;
    font-family: 'Roboto-r';
    font-size: 16px!important;
}
.place-detail li .time{
    font-weight: bold;
    color: #2E2F8F!important;
}
.customize-btn-sm{
    padding: 3px 33px;
    font-size: 22px;
}
.customize-btn{
    font-family: 'Roboto-m';
    color: #080808;
    text-transform: unset;
    border-radius: 5px;
}

.img-container{
    border-radius: 50%;
    width: 280px;
    height: 280px;
    box-shadow: 0px 0px 8px #ddd;
    margin: 0 auto;
    display: block!important;
    position: relative;
    overflow: hidden;
    padding: 15px 15px;
}
.img-container .step-img{
    position: absolute;
    top: 50%;
    left: 50%;
    width: calc(100% - 30px);
    height: calc(100% - 30px);
    background: rgba(0,0,0,.2);
    border-radius: 50%;
    transform: translate(-50%,-50%);
}
.img-container img{
    width: 100%;
    height: 100%;
    border-radius: 50%;
}
.step-img p{
    font-size: 146px;
    color: #fff;
    font-family: 'Blacksword';
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);

}

.img-container-m{
    width: 330px;
    height: 330px;
}
.img-container-l{
    width: 380px;
    height: 380px;
}

.step-text{
    max-width: 250px;
    margin: 0 auto;
    display: block;
    padding-top: 25px;
}

.dropdown li a, .single-mega-item li a{
    font-family: 'Roboto-r';
}
.step-text h4, .step-text p{
    font-family: 'Roboto-r';
    text-align: center;
}
.step-text h4{
    font-size: 24px;
    font-weight: bold;
    color: #1B1448;
}
.step-text p{
    font-size: 16px;
    color: #777777;
    margin-top: 8px;
}


.post-header{
    color: #fff;
    font-size: 45px;
    font-family: 'Roboto-cn-r';
    position: relative;
}

.post-header:after{
    position: absolute;
    bottom: -20px;
    left: 0;
    width: 70px;
    height: 2px;
    background: #FED61F;
    content: '';
}
.posts{
    max-width: 350px;
}
.post-headline{
    font-size: 35px;
    font-family: 'Roboto-cn-l';
    color: #fff;
    margin-top: 15px;
}
.posts p{
    font-family: 'Roboto-l';
    font-size: 18px;
    color: #fff;
    margin-top: 20px;
}
.read-more-btn{
    font-family: 'Roboto-l';
    font-size: 18px;
    color: #FED61F;
    padding-top: 20px;
}

.testimonial .testti-head{
    font-family: 'Roboto-cn-r';
    font-size: 40px;
    color: #080808;
}

.slick-dots li button::before {
    font-size: 1rem;
}

.people-text{
    background: #fff;
    padding: 15px 15px 30px 30px;
    position: relative;
    height: 16.5rem;
}

.people-text > div {
    height: 100%;
    overflow-y: scroll;
    padding-right: 1.5rem;
}

.people-text > div::-webkit-scrollbar {
    background-color: rgb(255, 255, 255);
    height: 10px;
    width: 10px;
}

.people-text > div::-webkit-scrollbar-button {
    background-color: rgb(255, 255, 255);
    height: 0px;
    width: 0px;
    border-radius: 0px;
}

.people-text > div::-webkit-scrollbar-thumb {
    background: #DDD;
    border-radius: 10px;
}

.people-text:after {
    position: absolute;
    top: 100%;
    left: 30px;
    content: '';
    width: 0;
    height: 0;
    border-left: 15px solid transparent;
    border-right: 15px solid transparent;
    border-top: 15px solid #fff;
}

.people-text p{
    font-size: 15px;
    font-family: 'Roboto-r';
    color: #868686;
}
.people-text p:nth-child(2) {
    font-family: 'Roboto-b';
}
.people-img{
    width: 90px;
    height: 90px;
    padding: 20px;
    background: #fff;
    border-radius: 50%;
}
.people-img img{
    width: 50px;
    height: auto;
    margin: 0 auto;
    display: block;
}
.people-details{
    padding: 0;
}
.people-details li{
    float: left;
    list-style: none;
}
.people-details h5{
    font-size: 18px;
    font-family: 'Roboto-b';
    color: #080808;
}
.people-details p{
    font-size: 15px;
    font-family: 'Roboto-r';
    color: #080808;
}
.people-details li:last-child{
    margin-left: 20px;
    margin-top: 9px;
}

.footer h4{
    font-family: 'Roboto-cn-l';
    font-size: 48px;
    color: #fff;
}

.footer p{
    font-family: 'Roboto-r';
    font-size: 20px;
    color: #fff;
    margin-top: 20px;
}

.footer input {
    background: #fff;
    height: 60px;
    width: 260px;
    float: left;
}
@media (max-width: 1200px) {
    .footer input {
        width: 100%;
        height: 2.8125rem;
    }
    .footer .submit-btn {
        margin-left: 0;
        margin-top: 1em;
        width: 100%;
        height: 2.8125rem;
        padding-top: 0;
        padding-bottom: 0;
    }
}
.submit-btn{
    background: #FED61F;
    padding: 14px 60px;
    color: #080808;
    font-family: 'Roboto-m';
    font-size: 20px;
    float: left;
    border-radius: 4px;
    margin-left: 20px;
}
.footer-menu{
    margin: 0;
    padding: 0;
}
.footer-menu li{
    list-style: none;
    margin-bottom: 7px;
}
.f-meu-head{
    font-size: 16px;
    font-family: 'Roboto-b';
    color: #080808;
}
.footer-menu li a, .footer-menu li p{
    font-family: 'Roboto-cn-r';
    font-size: 18px;
    color: #B2A9A9;
    margin-top: 0;
    margin-bottom: 0;
}
.footer-menu li span{
    font-family: 'Roboto-b';
    color: #FED61F;
    font-size: 18px;
}
.footer-menu li a:hover, .banner-image a:hover{
    color: #FED61F;
}
.a-yellow {
    color: #FED61F;
}
.a-yellow:hover {
    color: #FFA41F;
}
.copyright-area{
    background: #191616;
}
.footer-menu li a i{
    font-size: 30px;
    margin-left: 45px;
}
.social-media li{
    margin-bottom: 16px;
}


div[data-simplersidebar="mask"]{
    background: none!important;
    display: none!important;
}
.main-sidebar{
    background: #fff!important;
    width: 350px!important;
    box-shadow: 0px 0px 5px #ddd;
}
.side-bar-logo{
    max-width: 100px;
    float: left
}
.close-btn{
    font-family: 'Roboto-b';
    font-size: 24px;
    padding: 0px 20px;
    background: #FED61F;
    color: #080808;
    border-radius: 0;
    position: absolute;
    top: 0;
    right: 0;
    border: 0;
}
.cross-brn{
    float: right;
}

.anim{
    transition: all linear 0.1s;
}

.customizeContainer, .guideBoxContainer {
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 100;
    height: 100vh;
    right: -100vw;
    transition: right 0.375s ease;
}
.customizeContainer > div, .guideBoxContainer > div {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    overflow: auto;
    max-height: 100%;
    padding-bottom: 6px; /* Thix fixes the box shadow on the bottom */
}
.customize, .guideBox {
    background-color: white;
    border-top: 0.25rem solid #FFA41F;
    padding: 0 3rem;
    box-shadow: 0 0 4px 2px rgba(0, 0, 0, 0.25);
}
.customize form {
    margin: 2.5rem 0;
}
.customize h4 {
    font-family: 'Roboto-cn-b';
    font-size: 28px;
    color: #050505;
    display: block;
    text-align: center;
    position: relative;
    margin: 1rem 0;
}
.customize p, .customize div.wpcf7-mail-sent-ok {
    color: #707070 !important;
}
.customize p, .customize div.wpcf7-response-output {
    font-family: 'Roboto-r';
    font-size: 17px;
    display: block;
    text-align: center;
}
.customize span {
    font-family: 'Roboto-cn-b';
    color: #050505;
}
.customize .red, .customize .wpcf7-validation-errors, .customize .wpcf7-not-valid-tip {
    color: #b50000 !important;
}
.customize .wpcf7-not-valid-tip {
    margin-bottom: 0.25em;
}
.customize input, .customize select, .customize textarea {
    background-color: transparent;
    padding: 0.25rem 0.5rem;
    height: auto;
    margin-top: 0.25rem;
    margin-bottom: 1.75rem;
    border: 1px solid #AAA;
    font-family: 'Roboto-r';
}
.customize input[type='radio'] {
    margin: 0.25rem 0.25rem 1.5rem 0;
    width: auto;
}
.customize select {
    padding: 0.225rem 0.25rem;
}
.customize input::-webkit-outer-spin-button, /* Hide the buttons on number input fields */
.customize input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}
.customize textarea {
    line-height: 1.5em;
}
.customize .submit-btn {
    margin: 0;
    padding: 0.25rem 5rem;
    float: inherit;
}
.customize div.wpcf7-response-output {
    border: 0;
    margin: 1.5rem 0 0 0;
    padding: 0;
}


.sidecontent{
    padding-top: 80px;
    position: relative;
}
.sidecontent h4{
    font-family: 'Roboto-cn-b';
    font-size: 28px;
    color: #050505;
    display: block;
    text-align: left;
    position: relative;
}
.sidecontent h4:after{
    position: absolute;
    bottom: -9px;
    left: 0;
    content: '';
    width: 76px;
    height: 3px;
    background: #FED61F;
}
.sidecontent p{
    font-family: 'Roboto-r';
    font-size: 17px;
    color: #707070;
    display: block;
    text-align: left;
    margin-top: 25px;
    max-width: 300px;
}
.sidecontent form .form-control{
    background: #F5F6F8;
    border: 1px solid #E9EAEC;
    border-radius: 0;
    padding-top: 0px;
}
.sidecontent form .form-control::placeholder {
    color:#848994;
    font-family: 'Roboto-r';
    font-size: 13px;
    opacity: 1; /* Firefox */
}

.sidecontent form .form-control:-ms-input-placeholder { /* Internet Explorer 10-11 */
    color:#848994;
    font-family: 'Roboto-r';
    font-size: 13px;
}

.sidecontent form .form-control::-ms-input-placeholder { /* Microsoft Edge */
    color:#848994;
    font-family: 'Roboto-r';
    font-size: 13px;
}
.sidecontent form .form-control .disabled-select{
    color:#848994;
    font-family: 'Roboto-r';
    font-size: 13px;
}
.sidecontent .current{
    color:#848994;
    font-family: 'Roboto-r';
    font-size: 13px;
}
.sidecontent .nice-select{
    width: 100%;
}
.sidecontent .nice-select .option.focus, .nice-select .option.selected.focus {
    background-color: #f6f6f6;
    color: #1B1448;
    font-weight: normal;

}
.sidecontent .nice-select .option{
    width: 100%;
    display: block;
}
.sidecontent #budget{
    padding-top: 15px;
}
.sidecontent .customize-btn{
    font-size: 20px;
}
.sidebarBtn i{
    color: #1B1448;
    font-size: 25px;
    margin-left: 10px;
}


.sidebarBtn span{
    color: #1B1448;
    font-size: 25px;
    font-family: 'Roboto-cn-b';
}

.header-area button.toggle-sidebar {
    color: white;
    background: transparent;
    border: 1.5px solid white;
    font-size: 0.875rem;
    padding: 0.375em 1.25em;
    font-family: "montserratlight";
}


.mobile-menu-area .sidebarBtn {
    width: 100%;
    height: 46px;
    background: #FED61F;
    padding: 0 15px;
    text-align: right;
    cursor: pointer;
    position: relative;
}
.mobile-menu-area .sidebarBtn span, .mobile-menu-area .sidebarBtn i {
    line-height: 46px;
}
.top-header, .mobile-menu-area {
    background: #3A3A3C;
}
.top-header {
    color: white;
    font-family: 'Roboto-cn-l';
    font-size: 1rem;
    display: block;
    text-align: right;
}
.top-header > div {
    display: inline-flex;
    align-items: center;
}
.top-header button {
    color: black;
    background: #FED61F;
    font-size: 1.25rem;
    font-family: Roboto-b;
    padding: 0.125em 1.5em;
    margin-left: 1.5em;
    display: inline-block;
}
.top-header button i {
    margin-right: 0.5em;
}
.main-menu li .dropdown{
    padding-top: 0;
    padding-bottom: 0;
}
.main-menu li .dropdown li:hover{
    background: #FED61F;
    color: #fff;
}


/************about us page css *********************/
.bg-black-transparent-layer{
    position: relative;
}
.bg-black-transparent-layer:after{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(8,8,8,.4);
    content: '';
    z-index: -1;
}
.banner-image {
    background-size: cover;
    background-repeat: no-repeat;
}
.banner-image-heading {
    color: white;
    display: inline-block;
}
.banner-image button {
    margin-top: 2.5rem;
    margin-left: 2.5rem;
}
.banner-image .align-right {
    text-align: right;
}
@media (max-width: 768px) {
    .banner-image .align-right, .banner-image .align-left {
        text-align: center;
    }
    .banner-image button {
        margin-left: 0;
    }
}
.banner-head{
    font-size: 75px;
    font-family: 'Roboto-cn-r';
}
@media (max-width: 768px) {
    .banner-head {
        font-size: 3rem;
    }
}
.banner-head-2{
    font-family: 'Roboto-r';
    font-size: 30px;
}
.about-us-head{
    font-family: 'Roboto-cn-r';
    font-size: 40px;
}
.about-us-head-2{
    font-family: 'Roboto-r';
    font-size: 22px;
    line-height: 33px;
}
.person-name{
    font-family: 'Roboto-b';
    font-size: 40px;
}
.banner-text-area-all-trips{
    padding-top: 160px;
    padding-bottom: 356px;
}
.about-section .large-image {
    width: 75%;
    margin: 1.5rem 0 1rem 0;
}
.guideButtons {
    margin-top: 2rem;
}
.guideButton {
    padding-bottom: 0.75rem;
    margin-bottom: 2rem;
}
.guideButton > div {
    overflow: hidden;
}
.guideButton img {
  transition: transform 0.25s ease;
}
.guideButton:hover {
    box-shadow: 0 0 10px #BBB;
}
.guideButton:hover img {
    transform: scale(1.05);
}
.guideButton p {
    margin: 0.5em 0 0 0.5em;
    user-select: none;
}
.guideBox .row {
    padding-top: 2.5rem;
}
.guideBox .row > div {
    margin-bottom: 2.5rem;
}
.guideBox img {
    margin-bottom: 1.25rem;
}
.guideBox .row p {
    margin: 0;
    font-family: 'Roboto-r';
}
.guideBoxInfo {
    display: none;
}



/*******************destination***********************/
.next-tour .place-card{
    min-height: 100%;
}
.next-tour .place-card img{
    height: 100%;
}
.next-tour .place-card p{
    font-family: 'Roboto-b';
    font-size: 25px;
    color: #fff;
    width: 100%;
}
.next-tour > .box {
    padding: 15px 0;
    margin-bottom: 60px;
    background: #F6F6F6;
    overflow-y: hidden;
}
.destination-tour .place-card p {
    font-family: 'Roboto-b';
    font-size: 40px;
    color: #FED61F;
    text-transform: uppercase;
}
.place-card .img-text p {
    text-shadow: 0 0 5px rgba(0, 0, 0, 0.5);
}
.destination-heading {
    color: #1B1448;
    margin-bottom: 0.5em;
}
.viewTripsButtonContainer {
    display: flex;
    align-items: center;
    height: 293px;
}
.viewTripsButtonContainer > a {
    margin: auto;
}
.viewTripsButton {
    color: black;
    background: #FED61F;
    font-size: 20px;
    font-family: Roboto-b;
    padding: 0.125em 3em;
    display: block;
}

/*************contact-us****************/

.contact-us .container{
    background: #F3F3F3;
}
.contact-us h2{
    font-family: 'Roboto-b';
    font-size: 55px;
    color: #3A3A3A;
    text-align: center;
    margin-top: 30px;
}
.contact-us h3{
    font-family: 'Roboto-cn-l';
    font-size: 25px;
    text-align: center;
    position: relative;
}
.contact-us h3:after{
    position: absolute;
    bottom: -43px;
    left: 50%;
    transform: translateX(-50%);
    width: 50px;
    height: 2px;
    background: #2D2D2D;
    content: '';
}
.contact-us button{
    font-family: 'Roboto-cn-b';
    font-size: 30px;
}
.contact-us input, .contact-us textarea{
    border: 0;
    border-radius: 0;
}
.contact-us input{
    height: 60px;
}
.contact-us form .form-control::placeholder {
    color:#848994;
    font-family: 'Roboto-r';
    font-size: 16px;
    opacity: 1; /* Firefox */
}

.contact-us form .form-control:-ms-input-placeholder { /* Internet Explorer 10-11 */
    color:#848994;
    font-family: 'Roboto-r';
    font-size: 16px;
}

.contact-us form .form-control::-ms-input-placeholder { /* Microsoft Edge */
    color:#848994;
    font-family: 'Roboto-r';
    font-size: 16px;
}
.contact-info-box i {
    font-size: 30px;
    color: #454545;
    margin-top: 20px;
    margin-bottom: 30px;
}
.contact-info-box i,.contact-info-box h3, .contact-info-box p {
    text-align: left;
    display: flex;
}
.contact-info-box .fa-envelope:before {
    font-size: 1.375em;
    margin-top: -0.125em;
}
.contact-info-box p {
    margin-top: 20px;
    font-size: 16px;
}
.contact-info-box a p {
    display: inline-block;
    margin-top: 0;
}
.contact-info-box {
    width: fit-content;
    margin: 0 auto;
    display: block;
}

/******************mobile menu customization*/

.mean-container a.meanmenu-reveal{
    float: left;
}
.mean-container .mean-bar:before{
    left: 28px;
}
.sidebar-mob{
    display: none;
}

/**************single page*******************/

.banner-text-area-single-page{
    padding-top: 196px;
    padding-bottom: 197px;
}
.banner-text-area-single-page h2{
    font-size: 65px;
}
.tour-details .tour-menu {
    margin: 0;
    padding: 0;
}
.tour-details .tour-menu li{
    list-style: none;
    float: left;
    margin: 0;
}
.tour-details .tour-menu li:hover{
    background: #FED61F;
}
.tour-details .tour-menu li a{
    font-family: 'Roboto-r';
    font-size: 30px;
    color: #707070;
    padding: 10px 25px;
}

.tour-menu{
    position: relative;
    width: 100%;
    height: 100%;
}
.tour-menu:after{
    position: absolute;
    bottom: -15px;
    left: 0;
    width: 100%;
    height: 2px;
    background: #FED61F;
    content: '';
}

.tour-features{
    background: #F5F5F5;
    padding: 15px 15px;
}
.tour-features .features{
    margin: 0;
    padding: 0;
    width: 100%;
}
.tour-features .features li{
    width: 50%;
    list-style: none;
    text-transform: capitalize;
    font-family: 'Roboto-m';
    font-size: 16px;
    float: left;
    color: #707070;
    margin-bottom: 15px;
}
.tour-features .features li i{
    font-size: 16px;
    color: #0B8ECC;
    width: 42px;
    text-align: center;
}

.tour-head{
    font-family: 'Roboto-cn-r';
    font-size: 50px;
}
.tour-regular{
    font-family: 'Roboto-r';
    font-size: 20px;
    line-height: 26px;
    color: #898989;
}

.tour-overview-topic{
    margin: 0;
    padding: 0;
}
.tour-overview-topic > li{
    list-style: none;
    padding-top: 20px;
    padding-bottom: 20px;
    border-top: 1px solid #dddddd;
    clear: both;
    margin: 0;
}
.tour-overview-topic .tour-topic .topic-head{
    font-family: 'Roboto-b';
    font-size: 25px;
    color: #383838;
    display: block;
    margin-bottom: 10px;
    max-width: 350px;
}
.tour-overview-topic .tour-topic .sub-topic-head{
    font-family: 'Roboto-r';
    font-size: 20px;
    color: #898989;
    display: block;
    max-width: 300px;
    line-height: 28px;
}
.tour-topic{
    margin: 0;
    padding: 0;
}
.tour-topic .tour-topic-li{
    list-style: none;
    width: 50%;
    display: block!important;
    float: left!important;
    margin: 0;
}


.features{
    margin: 0;
    padding: 0;
}
.features .features-li{
    list-style: none;
    display: block;
    width: 100%;
    clear: both;
    margin: 0;
}
.features-details{
    margin: 0;
    padding: 0;
}
.features-details .bold-text{
    font-family: 'Roboto-m';
    font-size: 20px;
    color: #898989;
    display: block;
    margin-bottom: 5px;
    line-height: 28px;
}
.features-details .features-details-li{
    float: left;
    padding-bottom: 15px;
}
.features-details .features-details-li > i{
    color: #FED61F;
    font-size: 20px;
    line-height: 28px;
}
.features-details .normal-text{
    font-family: 'Roboto-r';
    font-size: 18px;
    color: #898989;
    line-height: 28px;
}
.features-details .features-details-li{
    width: 91%;
    float: left;
}
.features-details .i-list{
    width: 7%;
    float: left;
}

.menu-des-head {
    font-family: 'Roboto-b';
    font-size: 40px;
    color: #707070;
    clear: both;
}

.expectations{
    border-top: 1px solid #ddd;
    padding-top: 30px;
}
.expectations li i{
    font-size: 43px;
    color: #FED61F;
}
.expectations ul{
    margin: 0;
    padding: 0;
    clear: both;
}
.expectations li:first-child{
    width: 10%;
    float: left;
}
.expectations li:last-child{
    width: 90%;
    float: left;
}
.expectations-list ul{
    margin: 0;
    padding: 0;
}
.expectations .i-list{
    width: 5% !important;
}
.expectations .features-details{
    margin-top: 20px;
}

/******************* New Tour Page ***********************/
.tour-banner-image {
    height: 100vh;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
    z-index: 1;
}
.tour-banner-image-overlay, .tour .sidebar > div {
    background-color: rgba(0, 0, 0, 33.3%);
    height: 100%;
}
.tour-banner-image-overlay > div {
    width: 100%;
}
.tour-banner-image button {
    background-color: white;
    color: black;
    font-size: 1.25rem;
    font-family: 'Roboto-m';
    border-radius: 0.3125rem;
    padding: 0.5em 2em;
    margin-top: 3rem;
    margin-bottom:
}
.tour .sidebar {
    height: 100vh;
    background-position: 80% center;
    background-repeat: no-repeat;
    position: fixed;
    bottom: 0;
}
.tour .sidebar.locked {
    position: absolute;
    bottom: 458px;
}
.tour .sidebar .overlay > div {
    width: min-content;
    float: right;
    margin: 8.75rem 2rem 0 2rem;
}
.tour .sidebar button {
    color: black;
    font-size: 20px;
    font-family: Roboto-b;
    padding: 0.125em 0;
    width: 300px;
    margin-bottom: 0.75em;
    display: block;
}
.tour .sidebar .text-white {
    font-size: 30px;
    font-family: Roboto-b;
    margin: 1rem 0;
}
.tour .sidebar .social {
    font-size: 2rem;
}
.tour-info {
    padding-left: 364px;
}
.tour-info .heading {
    color: #555;
    font-family: 'Roboto-r';
    font-size: 40px;
    text-align: center;
    text-transform: uppercase;
    margin-bottom: 0.75em;
}
.tour-info .container > .row {
    padding: 6rem 3rem 0 3rem;
}
.tour-info p, .tour-info ul:not(.place-detail) {
    font-family: 'Roboto-r';
    font-size: 20px;
}
.tour-info p {
    line-height: 1.5em;
}
.tour-info strong {
    font-weight: bold;
    color: black;
}
.tour-info ul:not(.place-detail) li {
    margin-top: 0;
    margin-bottom: 0.5em;
    margin-left: 1.175em;
    line-height: 1.5em;
}
.tour-info ul:not(.place-detail) {
    list-style: none;
    padding-left: 0;
}
.tour-info ul:not(.place-detail) li::before {
    content: "\2022";
    font-size: 2em;
    line-height: 0;
    height: 0.05em;
    vertical-align: middle;
    font-weight: bold;
    display: inline-block;
    width: 0.625em;
    margin-left: -0.625em;
}

.tour-info .mainImage {
    width: 100%;
    height: 60vh;
    background-size: cover;
    background-position: center;
    display: none;
}
#mainImage1 {
    display: block;
}
.tour-info .smallImage {
    background-size: cover;
    background-position: center;
    width: 200px;
    height: 100%;
    margin-right: 15px;
}
.tour-info .smallImage:last-child {
    margin-right: 0;
}
.tour-info .smallImageContainer {
    margin-top: 15px;
    margin-bottom: 15px;
    width: max-content;
    height: 140px;
}
.tour-info .smallImageNav {
    width: 50px;
    height: 140px;
    position: absolute;
    top: 15px;
    z-index: 2;
    background-color: transparent;
    padding: 0;
    font-size: 24px;
}
.tour-info .smallImageNav.left {
    left: 15px;
    padding-right: 5px;
}
.tour-info .smallImageNav.right {
    right: 15px;
    padding-left: 5px;
}
.tour-info .smallImageContainerContainer {
    overflow-y: hidden;
    overflow-x: scroll;
    scroll-behavior: smooth;
}
.tour-info #photosAndVideos .row {
    height: 20%;
}
@media (max-width: 768px) {
    #photosAndVideos .row > div {
        margin-top: 30px;
        height: 100%;
    }
}
.tour-info iframe {
    width: 100%;
    height: 40vh;
    border: none;
    margin-bottom: 2rem;
}

.tour-info .day p {
    display: table-cell;
    line-height: 1.25em;
}
.readMore {
    cursor: pointer;
    display: none;
}
.tour-info .day .readMore {
    line-height: 2em;
}
.tour-info .day .yellow {
    color: #FED61F;
    text-transform: uppercase;
    padding-right: 1em;
    padding-bottom: 0.5em;
}
.tour-info .day p:not(.yellow) {
    padding-left: 2em;
    border-left: 1.5px solid #898989;
    font-size: 17px;
    padding-bottom: 0.5em;
}
.tour-info .dayCircle {
    width: 20px;
    height: 20px;
    border-radius: 20px;
    border: 1.5px solid #898989;
    background-color: white;
    position: absolute;
    left: 3.75em;
    margin-top: -4px;
}
.tour-info .dayDescription {
    overflow-y: hidden;
    display: block;
}
.tour-info .dayDescription.more, .readMoreText.more {
    max-height: unset !important;
}

.tourButton {
    color: #080808;
    background-color: white;
    border: 1.5px solid #707070;
    font-size: 20px;
    font-family: Roboto-b;
    padding: 0.125em 0;
    width: 300px;
    margin-top: 1em;
}
.bookThisTripButton {
    display: none;
}
@media (max-width: 768px) {
    .bookThisTripButton {
        display: inline-block;
    }
}

.sidebarButton {
    transition: background-color 0.5s;
}
.sidebarButton.selected {
    background: #FED61F;
}

.tour-info .post-headline, .tour-info .posts  p {
    color: #080808;
}
.post-headline:hover {
    color: #FED61F;
}
.tour-info .posts p {
    font-family: 'Roboto-l';
}
.post-img > a > div {
    width: 100%;
    height: 100%;
    background-position: center;
    background-size: cover;
}

.next-tour .place-card .img {
    width: 100%;
    height: 250px;
    background-position: center;
    background-size: cover;
}

.tour .place-detail li p {
    font-size: 0.8rem !important;
}

#requestItinerary form span, #requestItinerary form input[type='text'] {
    font-family: 'Roboto-r';
    font-size: 20px;
    line-height: 1.25em;
    margin-bottom: 1em;
}
#requestItinerary form input[type='text']::placeholder {
    color: #D0D0D0;
}
#requestItinerary form input[type='text'] {
    background: transparent;
    border: 1.5px solid #CCC;
    height: 1.75em;
    margin-top: -0.25em;
}
#requestItinerary form input[type='radio'] {
    width: 100%;
    height: 1.25rem;
}
#requestItinerary form .radio {
    width: 1.25rem;
    height: 1.25rem;
    border-radius: 1.25rem;
    background-color: transparent;
    border: 1.5px solid #707070;
}
#requestItinerary form input[type='radio'] {
    position: absolute;
    opacity: 0;
    cursor: pointer;
}
#requestItinerary form .radioContainer {
    margin-bottom: 0.75em;
}
#requestItinerary form .radioContainer:hover .radio {
    border: 1.5px solid #23A69B;
}
#requestItinerary form input[type='radio']:checked ~ .radio {
    background-color: #23A69B;
    border: 1.5px solid #23A69B;
}
#requestItinerary form div {
    display: inline-block;
    vertical-align: top;
}
#requestItinerary form > div {
    padding: 0;
}
#requestItinerary form > div {
    margin-bottom: 1.5em;
}
@media (min-width: 768px) {
    #requestItinerary form > div:nth-child(2n-1) {
        padding-left: 1em;
    }
}
#requestItinerary form strong {
    color: inherit;
}
#requestItinerary form .required::before {
    content: "* ";
    color: #C00000;
    font-size: 1.5rem;
    vertical-align: text-top;
    margin-left: -1.25rem;
}
#requestItinerary form .requiredLabel {
    padding-right: 1.25rem;
}
#requestItinerary form input[type='submit'] {
    color: black;
    background: #FED61F;
    border-radius: 0.3125rem;
    font-size: 20px;
    font-family: 'Roboto-m';
    padding: 0.125em 2em;
    border: none;
    width: fit-content;
}
#requestItinerary .ajax-loader {
    margin-left: 1em;
    margin-bottom: 0.5em;
}
#requestItinerary .wpcf7-response-output {
    width: 100%;
    text-align: center;
    border: 0;
    font-family: 'Roboto-r';
    font-size: 20px;
}
#requestItinerary .wpcf7-mail-sent-ok {
    color: #FFA41F !important;
}
#requestItinerary .wpcf7-validation-errors {
    color: #C00000 !important;
}
@media (max-width: 768px) {
    #requestItinerary > div > .row {
        padding-left: 1.5rem;
        padding-right: 1.5rem;
    }
}

@media (max-width: 992px) {
    .tour .sidebar {
        display: none;
    }
    .tour-info {
        padding-left: 0;
    }
    .tour-info .container > .row {
        padding-left: 0;
        padding-right: 0;
    }
}
/* Custom column sizing (because of the sidebar) */
.tour-info .small-adaptive-card {
    padding-left: 15px;
    padding-right: 15px;
    flex: 0 0 100%;
    max-width: 100%;
}
@media (min-width: 768px) {
    .tour-info .small-adaptive-card {
        flex: 0 0 50%;
        max-width: 50%;
    }
}
@media (min-width: 1100px) {
    .tour-info .small-adaptive-card {
        flex: 0 0 50%;
        max-width: 50%;
    }
}
@media (min-width: 1400px) {
    .tour-info .small-adaptive-card {
        flex: 0 0 33.333333%;
        max-width: 33.333333%;
    }
}




/*******************faq***********************/

.panel-title > a:before {
    float: right !important;
    font-family: FontAwesome;
    content:"\f068";
    padding-right: 5px;
}
.panel-title > a.collapsed:before {
    float: right !important;
    content:"\f067";
}

.accordion i{
    font-size: 16px!important;
    color: #707070!important;
    margin-right: 10px;
}
.itinerary li a{
    font-size: 16px;
    color: #707070;
    text-transform: capitalize;
    width: 100%;
    text-align: left;
    display: block;
    font-family: 'Roboto-b';
    padding-top: 10px;
    padding-bottom: 10px;
    cursor: pointer;
}


.itinerary li button a:hover{
    text-decoration: none!important;
}

.itinerary li button span{
    margin-left: 10px;
}
.itinerary .card{
    border: 0;
    margin-bottom: 10px;
}
.itinerary .card-header:first-child {
    border-radius: 0;
}
.itinerary .card-header {
    border-bottom: 0;
}

.accordion button:hover{
    color: #707070;
    text-decoration: none;
    transition: none;
}
.itinerary .card-body p{
    font-family: 'Roboto-r';
    font-size: 18px;
    color: #707070;
}


#sidebar-2{
    float: right;
    width: 100%;
    will-change: min-height;

}

#sidebar-2 .sidebar__inner{
    transform: translate3d(0, 0, 0);
    transform: translate(0, 0);
    will-change: position, translate;
}
.sidebar-inner-content{
    padding: 40px;
    box-shadow: 0px 1px 13px rgba(0,0,0,.1);
    background: #fff;
}
.relative-sidebar{
    margin-top: -233px;
}

.roboto-black{
    font-family: 'Roboto-black';
    font-size: 30px;
}
.tag-price i{
    font-size: 25px;
    color: #080808;
    transform: rotateY(180deg);
}
.tag-price .s-text{
    font-family: 'Roboto-r';
    color: #080808;
    font-size: 20px;
    margin-left: 30px;
}
.tag-price .price-one{
    font-size: 42px;
    margin-left: 50px;
}

.book-availability{
    font-family: 'Roboto-r';
    font-size: 18px;
    text-align: center;
    margin-top: 65px;
}
.book-btn{
    font-family: 'Roboto-black';
    font-size: 22px;
}
.book-btn:hover {
    color: #080808!important;
}
.booking-note{
    font-size: 16px;
    text-align: left;
    margin-left: 20px;
    position: relative;
}
.booking-note:before{
    position: absolute;
    top: 0;
    left: -23px;
    content: '*';
    font-family: 'Roboto-black';
    color: #080808;
}

.tourmaster-tour-booking-bar-wrap .tourmaster-tour-booking-bar-widget {
    padding-top: 60px;
}
.traveltour-sidebar-area .traveltour-widget {
    margin-bottom: 50px;
}
.traveltour-body * {
    border-color: #e1e1e1;
}
.traveltour-body, .traveltour-body p, .traveltour-line-height, .gdlr-core-line-height {
    line-height: 1.7;
}
.traveltour-body {
    font-size: 15px;
}
.gdlr-core-space-shortcode {
    display: block;
}
.gdlr-core-widget-list-shortcode {
    background-color: #f5f5f5;
    color: #949494;
}
.gdlr-core-widget-list-shortcode .gdlr-core-widget-list-shortcode-title {
    font-size: 20px;
    font-family: 'Roboto-black';
    padding: 35px 27px 0px;
    margin-bottom: 13px;
    color: #080808;
}
.gdlr-core-widget-list-shortcode ul {
    list-style: none;
    margin-left: 0px;
}
.gdlr-core-widget-list-shortcode ul li:first-child {
    border-top: none;
}
.gdlr-core-widget-list-shortcode ul li {
    border-top-width: 1px;
    border-top-style: solid;
    padding: 13px 27px;
    border-color: #e1e1e1;
    font-size: 16px;
    color: #707070;
}
#sidebar-3{
    box-shadow: 0px 1px 5px #ddd
}

#sidebar-4{
    padding: 30px;
    box-shadow: 0px 1px 5px #ddd;
    background: #fff;
}
.destination-contact-h {
    font-family: 'Roboto-b';
    font-size: 25px;
}
#sidebar-4 h5{
    font-family: 'Roboto-r';
    font-size: 15px;
    color: #707070;
    margin-top: 15px;
}
.contact-by-voice{
    background: #F2F1F1;
    padding: 15px 20px 0px 20px ;
    border-radius: 20px;
    margin-top: 40px;
    box-shadow: 0px 0px 3px #ddd;
}
.contact-by-voice i{
    color: #FED61F;
    font-size: 35px;
}
.contact-by-voice ul{
    margin: 0;
    padding: 0;
}
.contact-by-voice ul li{
    float: left;
    list-style: none;
    margin-left: 30px;
}
.contact-by-voice ul li p{
    text-align: center;
}
.contact-by-voice ul li .icon-text{
    text-align: center;
    font-size: 24px;
    color: #080808;
    font-family: 'Roboto-r';
}
.contact-by-voice ul li .fa-phone{
    transform: rotateX(180deg);
}
.mob-display{
    display: none;
}
.expeditions, .gray-background {
    background: #F7F7F7!important;
}


/*******************************video player css********************************/
.banner {
    position: relative;
    width: 100%;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    overflow: hidden;
    background-position: center;
    background-size: cover;
}

.homeBannerTextContainer {
    z-index: 1;
    text-align: center;
    padding: 0 15px;
}

.homeBannerTextContainer h1 {
    font-size: 3.5rem;
}

.homeBannerTextContainer h1,
.homeBannerTextContainer h2,
.homeBannerTextContainer h3,
.homeBannerTextContainer h4,
.homeBannerTextContainer h5,
.homeBannerTextContainer h6,
.homeBannerTextContainer p {
    font-family: "FrankRuhlLibre-Regular";
    color: white;
    margin: 0;
    padding: 0;
    text-shadow: 0 0 5px rgba(0, 0, 0, 0.5);
}

.homeBannerTextContainer button {
    color: white;
    background: transparent;
    border: 1.5px solid white;
    font-size: 1.75rem;
    margin-top: 1em;
    padding: 0.375em 1.25em;
    font-family: "montserratlight";
    text-shadow: 0 0 5px rgba(0, 0, 0, 0.5);
    box-shadow: 0 0 5px 0px rgba(0, 0, 0, 0.25), rgba(0, 0, 0, 0.25) 0px 0px 5px inset;
}

.video-container {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
}

@media (max-width: 991px) {
    .video-container video {
        display: none;
    }
}

.video-container video {
    min-width: 100%;
    min-height: 100%;
}
.video-container video::-webkit-media-controls {
  display: none;
}

.color-overlay {
    position: absolute;
    top: 0;
    left: 0;
    background-color: rgba(0,0,0,.5);
    width: 100%;
    height: 100vh;
}

/*place card*/

.img-text-holder:before{
    position: absolute;
    top: 0;
    left: 0;
    width: 50%;
    height: 100%;
    display: block;
    content: '';
    background: rgba(0,0,0,.3);
    transition: all linear 0.3s;
}
.img-text:before{
    position: absolute;
    top: 0;
    right: 0;
    width: 50%;
    height: 100%;
    display: block;
    content: '';
    background: rgba(0,0,0,.3);
    transition: all linear 0.3s;
}

.place-card:hover .img-text-holder:before, .place-card:hover .img-text:before{
    width: 0;
}

.explore-img{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    width: 75%;
}
.text-explore{
    font-family: 'Roboto-b';
    font-size: 96px;
    color: #FED61F;
    position: absolute;
    top: 55%;
    left: 62%;
    transform: translate(-13%,-50%);
    width: 100%;
}

.slider {
    width: 100%;
    margin: 0px auto;
    margin-top: 30px;
}

.slick-slide {
    margin: 0px 20px;
}

.slick-slide img {
    width: 100%;
}

.bokun-widgets-cart-wrapper {
	margin-right: 3.625rem;
    margin-bottom: 0.875rem;
}
